
html{
    font-size: $font-base-line *1.3;
    font-size: $font-base-line;
    min-height: 100%;
}

body{
    font-family: $sitefont;
    font-size: $size;
    line-height: $lineh;
    background-color: $light;
    min-height: 100%;
    // color: $light;
}

header{
  display: flex;
  background: $primary;
  justify-content: space-between;

    @include mq(mediumAndless){

    flex-direction: column;

    }

  .logo{
    display: flex;
    color: $lightblue;
    font-size: 2.5em;
    padding: 0px;
    margin: 0px;
    line-height: 75px;

    img{
      max-width: 100%;
      width: 75px;
      height: 75px;
      margin-left: 1rem;

    }

    span{
      margin-left: 1rem;
    }
  }

  #menu{
    padding: 0px 50px;

      @include mq(mediumAndless){
        width: 90%;
        padding: 0px;
        margin: 0px auto;
        .btn{
          width: 100%;
          margin: 0px auto;
        }

      }


    ul li{
      display: flex;
      align-items: center;
      height: 75px;
    }
  }
}

#search-form{
  form{
    display: flex;
    width: 50vw;
    margin: 50px auto;
    align-items: stretch;
    border: 1px solid rgba($primary, .4);
    @include mq(mediumAndless){
      width: 80vw;
    }

    input{
      flex-basis: 45vw;
      padding: 2rem;
      color: $primary;

      @include mq(mediumAndless){
        flex-basis: 75vw;
      }
    }

    .magnifyglass{
      background-color: $lightblue;
      border-radius: 0;
      color: $primary;
      flex-basis: 5vw;
      font-size: 2rem;


      &:hover{
        background-color: $primary;
        color: $lightblue;
      }
    }

  }
}

#results{
  display: flex;
  width: 80vw;
  margin: 0px auto;
  // background-color: rgba(black, .1);

}

#analytics {
  width: 80vw;
  margin: 5rem auto;
  display:flex;
  justify-content: center;
  flex-direction: row;
}

.weekView, .monthView {
  text-align: center;
  width:45%;
  margin: 2rem auto;
  background-color: $white;
  border-bottom: 2px solid #dddfe2;
  border-radius: 2px;
  & > h2 {
    margin:2rem;
    line-height: 8rem;
    border-bottom: 2px solid $primary;
  }
}

.chartWrapper {
  max-height: 300px;
  padding:1rem;
}

canvas {
  max-height: 250px;
}

button:hover {
  cursor: pointer;
  transition: .4s;
}

@include mq(mediumAndless) {
  #analytics {
    flex-direction: column;
  }
  .weekView, .monthView {
    width:100%;
  }
}

// /#list
