.table{
  width: 100%;

  .col{
    flex-basis: 30%;
  }

  .col-small{
    flex-basis: 8%;
  }

  .table-head{
    font-weight: bold;
    background-color: $primary;
    color: white;
    margin-top: 1px;
    & {
      & li{
        padding: 1.3rem;
        border-left: 1px solid white;
        line-height: 3.8rem;
      }

    }
  }

  .table-head, .field{
    display: flex;
    justify-content: space-between;
  }


  & > li{
    transition: background 100ms ease;

    & > .field {

      & li{
        padding: 1.3rem;
        border-left: 1px solid white;
        line-height: 3.8rem;
      }

    }

    &:nth-child(odd){
      background-color: $lightblue;
    }

    &:nth-child(odd):hover{
      background-color: lighten($primary, 45);
    }

    &:nth-child(even):hover{
      background-color: rgba($secondary, .1);
    }

  }

  & > li ul li{
    display: inline-block;
  }
}
